data/
node_modules/
logs/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
.github/
.git/
.env
.env.*
Dockerfile
README.md
build.sh
.gitignore